# Visual Studio
*.suo
*.user
*.sdf
*.opensdf
.vs/
*.aps
*.ncb
*.opendb
*.cachefile
*.VC.db
*.VC.VC.opendb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
ipch/

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS
$tf/

# Old SVN metadata
.svn/

# Test/temp files
*_org.log
*_short.log
*_map.log
*_new.log
dic.txt
dic1.txt
lex.txt
res.txt
Output/
