<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
  
    <log4net debug="false">
      <appender name="LimAppender" type="LIM.LimAppender,LIM">
        <file value="C:\temp\LIM.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
        </layout>
      </appender>
      <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
        <immediateFlush value="true"/>
        <layout type="log4net.Layout.SimpleLayout"/>
      </appender>
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\temp\LIMMap.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
        </layout>
      </appender>
      <appender name="BloggerAppender" type="LIM.LimAppender,LIM">
        <file value="C:\temp\Blogger.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
        </layout>
      </appender>
      <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
        <immediateFlush value="true"/>
        <layout type="log4net.Layout.SimpleLayout"/>
      </appender>
      <root>
        <level value="DEBUG"/>
        <appender-ref ref="RollingLogFileAppender"/>
        <!--<appender-ref ref="LimAppender"/>-->
        <!--<appender-ref ref="DebugAppender"/>-->
        <appender-ref ref="BloggerAppender"/>
      </root>
    </log4net>
  
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
</configuration>